.lectures-post {
  position: relative;
}
.lectures-post-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.book__item {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
.my-form {
  margin-left: auto;
}
.my-form input {
  direction: rtl !important;
}
.my-form input,
.my-form textarea {
  direction: rtl !important;
}

/* Подписи тоже вправо */
.my-form label {
  display: block;
}

/* Кнопка отправки */
.my-form .wpcf7-submit {
  border: none;
  border-radius: 10px;
  background: #d1cdce;
  font-size: 20px;
}
.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
  direction: rtl !important;
}

.my-form .my-form__footer {
  display: flex;
  justify-content: space-between;
}

mark {
  background: none;
  color: #0e7bcd;
}
.lectures-post__btn {
  gap: 0px;
}

.sidebar-featured-topics__book {
  display: block;
  background: #e6e6e6;
  border-radius: 10px;
  padding: 15px 30px;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: justify;
  color: #000;
  max-height: 166px;
}

.sidebar-featured-topics__book img {
  transform: translateY(33px) scale(1.2);
}
.page-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: justify;
  color: #032169;
  margin-bottom: 20px;
}
.layout__sidebar {
  min-height: auto;
}
.footer {
  margin-top: 0px;
}
.sidebar-featured-topics {
  transform: translateY(-30px);
}
.sidebar-featured-topics__book img {
  transform: translateY(23px) scale(1.2);
}
.layout__wrapper {
  margin-bottom: 20px;
}
.landmarks-post__content,
.judgments-post__content,
.articles-post__content,
.lectures-post__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.search-result__location {
  display: flex;
}

.highlight {
  font-weight: bold;
  color: #0e7bcd;
}
.header__search-body li {
  cursor: pointer;
  background-color: #e6e6e6;
  padding: 6px 25px 6px 0px;
  transition: all 0.3s;
  margin-top: 10px;
}
.header__search-body li:hover {
  background-color: #d7d7d7;
}
